:root {
    --main-white: #f0f0f0;
    --main-green: rgb(99, 233, 10);
    --main-blue: #000000;
    --main-gray: #ff0627;
  }
/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}


/* Base styles */

body {
  font-family: 'Poppins', sans-serif;
  font-size: 18px; /* 18px */
  font-weight: 400;
  line-height: 1.4;
  color: var(--main-white);
 
}

h1,
h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}


h1 {
  font-size: 4rem;
}

h2 {
  font-size: 2.2rem;
}
  


body, ul{
    margin: 0px;
    padding: 0px;
}

a{
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

a:hover{
    background: rgb(99, 233, 10);
    border-radius: 20px;
}

#logo{
    font-size: 1.5rem;
    font-weight: bold;
}

#header{
    box-sizing: border-box;
    height: 70px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: black;
}

#menu{
    display: flex;
    list-style: none;
    gap: .5rem;
}

#menu a{
    display: block;
    padding: .5rem;
}

#btn-mobile{
    display: none;
}

@media (max-width: 600px){
   
    #menu{
      display: block;
      position: absolute;
      width: 100%;
      top: 70px;
      right: 0px;
      background: black;
      height: 0px;
      transition: .6s;
      z-index: 1000;
      visibility: hidden;
      overflow-y: hidden;
      
    }
    #nav.active #menu{
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
       
    }
    #menu a{
        padding: 1rem 0;
        margin: 0 1rem;
        border-bottom: 2px solid rgb(0, 0, .05);
    }
    #btn-mobile{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: .5rem;
    }
    #hamburger{
        color: white;
        border-top: 2px solid;
        width: 20px;
    }

    #hamburger::after,  #hamburger::before{
        content: '';
        display: block;
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    #nav.active #hamburger{
        border-top-color: transparent;
    }

    #nav.active #hamburger::before{
        transform: rotate(135deg);
    }
    #nav.active #hamburger::after{
        transform: rotate(-135deg);
        top: -7px;

    }
}

body, html {
    height: 100%;
    
}

/* Welcome section */

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(  115deg, rgba(0, 0, 0, 0.9),rgba(10, 10, 10, 0.8) 
    ),
      url(https://images.pexels.com/photos/546819/pexels-photo-546819.jpeg?auto=compress&cs=tinysrgb&w=1600);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .welcome-section  p {
    font-size: 1.7rem;
    font-weight: 300;
    font-style: italic;
    color: var(--main-green);
    align-items: center;
  }
  
  
  #projects {
    background: var(--main-blue);
    text-align: center;
    padding: 5rem 1rem;
  }
  
  .projects-section-header {
    font-size: 30px;
    max-width: 580px;
    margin: 0 auto 6rem auto;
    text-align: center;
    padding: 0rem 0rem;
    border-bottom: 0.2rem solid var(--main-white);
  
  }
  
 
  
  .project-tile {
    background-color: var(--main-gray);
    text-align: center;
    padding: 0  0 1rem 0;
    font-size: 20px;
    width: 90%;
    margin: 0 8px;
  }
  
  .code {
    color: var(--main-gray);
    transition: color 0.3s ease-out;
  }
  
  .project-tile:hover .code {
    color: #000000;
  }
  
  .project-image {
    width: 100%;
    max-width: 620px;
  }


  @media (max-width: 600px) {
    html {
      width: 100vw;
    }
    .welcome-section {
      line-height: 65px;
    }
    
    .nav-list a {
      padding: 15px 8px;
    }
    
    .projects-section-header {
      padding: 3rem 1rem 1rem;
    }
  
    #projects{
      width: 100%;
    }
    .projects-grid {
      width: 100%;
      justify-content: center;
      margin: 1rem auto;
    }
    
    .contact-section-header h2 {
      font-size: 30px;
    }
    
    .contact-section-header p {
      font-size: 20px;
    }
    
    .contact-links {
      font-size: 20px;
      flex-direction: column;
    }
  }
section .list-program{
  display: inline-flex;
  text-align: center;
 
}

.list-program{
  transition: all 0.4s ease-out;
}

.icone{
  transition: all 0.4s ease-out;
  border-radius: 50%;
}

.icone:hover{
  cursor: pointer;
  transform: translateY(-20px);
  box-shadow: 4px 30px 16px 0px green;
}


.container1{
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
/* Cards */

.card{
  width: 300px;
  height: 460px;
  margin: 25px;
  background-color: #ffff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0px 0px  10px greenyellow;
  transition: 0.3;
}

/* Card Header*/

.card-header{
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.card-img{
  min-width: 100%;
  width: auto;
  height: 100%;
}

/* Card body*/
.card-body{
  height: 170px;
  padding: 15px;
  text-align: center;
  font-family: sans-serif;
}

.card-local{
  color: black;
  font-size: 16px;
  margin: 10px 0;
}

.card-titulo{
  color: #000000;
  font-size: 32px;
  margin: 15px 0;

}

.card-texto{
  color: #000000;
  font-size: 12px;
  width: 250px;
  margin: 0 auto;
}

/* Card footer*/
.card-footer{
  margin-top: 10px;
  text-align: center;
  background-color: #000000;
}

.card-footer a{
  color: #ffff;
  display: block;
  padding: 30px;
  text-decoration: none;
  font-family: sans-serif;
  font-weight: 600;
}

/*Cores Cards*/
.card-1 .card-footer{
  background-color: #33da0a;
}

/* Animação*/
.card:hover{
  transform: scale3d(1.1, 1.1, 1);
}

.me{
  width: 300px;
  margin: auto;
  background-image: linear-gradient(0deg, rgba(14,230,230,1) 0%, rgba(65,253,45,1) 100%);
  border-radius: 50%;
  display: flex;
  padding: 4px;
 
}

.me img{
  width: 100%;
  border-radius: 50%;
}

.sobre-mim{
  text-align: center ;
}
